body {
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
  flex-grow: 0;
  background-color: rgb(22, 22, 22);
  color: wheat;
  /* align-items: center; */
  justify-content: center;
  border: 3px greenyellow solid;
  height: 700px;
  color: white;
  text-shadow: 5px 5px 5px rgb(48, 31, 206), 0 0 35px rgb(29, 245, 191),
    0 0 5px darkblue;
}
.text-change {
  text-align: center;
  margin-bottom: 20;
}
.intro-instructions {
  text-align: center;
  margin-bottom: 20px;
}
.outer-container {
  display: flex;
  flex-direction: column;
  /* border: 3px orange solid; */
}
.title-container {
  display: flex;
  flex-direction: row;
  /* border: solid 3px purple; */
  justify-content: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  /* border: 3px yellow solid; */
  align-items: center;
  justify-content: center;
}
button {
  /* border: 4px blue solid; */
  margin: 10px;
  padding: 5px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 18px #65f76c;
}
button {
  transition: all 0.7s ease-in-out;
}
button:hover {
  transform: scale(1.5);
}
.info-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.final {
  display: flex;
  flex-direction: column;
  /* border: 3px orange solid; */
  text-align: center;
}
